<head>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
</head>
<body class="log_bod">
    {% extends 'base.html' %}
    {% block title %} Login page{% endblock %}
    {% block content %}
        
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
          {% if 'success' in msg %}
          <div class="success">
              <div class="success__icon">
                <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" fill="#393a37" fill-rule="evenodd"></path></svg>
              </div>
              <div class="success__title">{{msg[8:]}}</div>
          </div>
          {% elif 'error' in msg %}
              <div class="error">
                  <div class="error__icon">
                    <svg
                        class="error-svg"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        aria-hidden="true"
                    >
                        <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                        clip-rule="evenodd"
                        ></path>
                    </svg>
                  </div>
                  <div class="error__title">{{msg[6:]}}</div>
              </div>
          {% else %}
          <div class="info">
              <div class="info__icon">
                <svg
                aria-hidden="true"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                class="info-svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              </div>
              <div class="info__title">{{msg[5:]}}</div>
          </div>
    
          {% endif %}
        {%endfor%}
      {% endif %}
    {% endwith %}
        {% if not passed %}
            <div class="card">
                <h4 class="title_log">Log In!</h4>
                <form action="#" method="post">
                <div class="field">
                    <svg class="input-icon" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <path d="M207.8 20.73c-93.45 18.32-168.7 93.66-187 187.1c-27.64 140.9 68.65 266.2 199.1 285.1c19.01 2.888 36.17-12.26 36.17-31.49l.0001-.6631c0-15.74-11.44-28.88-26.84-31.24c-84.35-12.98-149.2-86.13-149.2-174.2c0-102.9 88.61-185.5 193.4-175.4c91.54 8.869 158.6 91.25 158.6 183.2l0 16.16c0 22.09-17.94 40.05-40 40.05s-40.01-17.96-40.01-40.05v-120.1c0-8.847-7.161-16.02-16.01-16.02l-31.98 .0036c-7.299 0-13.2 4.992-15.12 11.68c-24.85-12.15-54.24-16.38-86.06-5.106c-38.75 13.73-68.12 48.91-73.72 89.64c-9.483 69.01 43.81 128 110.9 128c26.44 0 50.43-9.544 69.59-24.88c24 31.3 65.23 48.69 109.4 37.49C465.2 369.3 496 324.1 495.1 277.2V256.3C495.1 107.1 361.2-9.332 207.8 20.73zM239.1 304.3c-26.47 0-48-21.56-48-48.05s21.53-48.05 48-48.05s48 21.56 48 48.05S266.5 304.3 239.1 304.3z"></path></svg>
                    <input autocomplete="off" required placeholder="Email" class="input-field" name="email_txt" type="email">
                </div>
                <div class="field">
                    <svg class="input-icon" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <path d="M80 192V144C80 64.47 144.5 0 224 0C303.5 0 368 64.47 368 144V192H384C419.3 192 448 220.7 448 256V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V256C0 220.7 28.65 192 64 192H80zM144 192H304V144C304 99.82 268.2 64 224 64C179.8 64 144 99.82 144 144V192z"></path></svg>
                    <input autocomplete="off" required placeholder="Password" class="input-field" name="pass_txt" type="password">
                </div>
                <button class="btn" type="submit">Login</button>
                <p class="signin">Don't have an acount ? <a href="/signup" class="btn-link">Sign up here</a> </p>
                </form>
            </div>
    
        {% else %}
        <form class="form" action="#" method="post">
            <p class="title_sign">Register </p>
            <p class="message">Signup now and get full access to our app. </p>
                <div class="flex">
                <label>
                    <input class="input" type="text" name="reg_first_txt" placeholder="" required>
                    <span>Firstname</span>
                </label>
        
                <label>
                    <input class="input" type="text" name="reg_last_txt" placeholder="" required>
                    <span>Lastname</span>
                </label>
            </div>  
                    
            <label>
                <input class="input" type="email" name="reg_email_txt" placeholder="" required>
                <span>Email</span>
            </label> 
                
            <label>
                <input class="input" type="password" name="reg_pass_txt" placeholder="" required>
                <span>Password</span>
            </label>
            <label>
                <input class="input" type="password" name="reg_conf_txt" placeholder="" required>
                <span>Confirm password</span>
            </label>
            <button class="submit">Submit</button>
            <p class="signin">Already have an acount ? <a href="/login">Signin</a> </p>
        </form>
    
    
        {% endif %}
    
    
        {% endblock %}
    </body>