{%extends 'base.html' %}
{%block title%} Home {%endblock%}
{%block content%} 
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
      {% if 'success' in msg %}
      <div class="success">
          <div class="success__icon">
            <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" fill="#393a37" fill-rule="evenodd"></path>
            </svg>
          </div>
          <div class="success__title">{{msg[8:]}}</div>
      </div>
      {% elif 'error' in msg %}
          <div class="error">
              <div class="error__icon">
                <svg
                    class="error-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                >
                    <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                    clip-rule="evenodd"
                    ></path>
                </svg>
              </div>
              <div class="error__title">{{msg[6:]}}</div>
          </div>
      {% else %}
      <div class="info">
          <div class="info__icon">
            <svg
            aria-hidden="true"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            class="info-svg"
          >
            <path
              clip-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
              fill-rule="evenodd"
            ></path>
          </svg>
          </div>
          <div class="info__title">{{msg[5:]}}</div>
      </div>

      {% endif %}
    {%endfor%}
  {% endif %}
{% endwith %}

    <button class="port_fol" data-text="Awesome">
        <!-- <span class="actual-text">&nbsp;HI,&nbsp;I'M&nbsp;CHIBUIKE&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;HI,&nbsp;I'M&nbsp;CHIBUIKE&nbsp;</span> -->
        <span class="actual-text">&nbsp;Welcome to Nimb-fi <br>
            The bleeding egde of financial technology.
        </span>

    </button>

{%endblock%}